body {
        background-image: url("pictures/BackgroundBones.jpg");
}

h1{
  font-weight: bold;
}


.dogPic {
  float:left;
  overflow:hidden;
  position:relative;
  margin-top: 8px;
}

.dogInfo{
  color:blue;
  float:right;
  position: inherit;
}
